<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfitness">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TestBootstrap"
        android:allowBackup="true"
        android:icon="@mipmap/home_fitness_24"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".video_screen.VideoViewActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Reservation"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".edit_reservation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CreateEventActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".search_result"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tab_screen.TabActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login_screen.MainActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".utils.EventBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>